:root {
  --dark-brown: #1c110a;
  --beige: #e4d6a7;
  --yellow: #e9b44c;
  --light-yellow: #fff9e6;
  --dark-yellow: #aa8335;
  --very-light-yellow: #fffdf7;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

html,
body {
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;
  background-color: var(--light-yellow);
}

header {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0;
  position: sticky;
  z-index: 1000;
}

header .container-fluid {
  background-color: var(--dark-brown);
  padding: 1% 2% 1% 2%;
  margin: 0;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--light-yellow);
}

.logo {
  max-height: 80px;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
li.nav-item {
  margin-top: 1%;
}
a.nav-link-inicio,
a.nav-link-exercicios,
a.nav-link-sobre {
  color: var(--beige);
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

a.nav-link-inicio:hover,
a.nav-link-exercicios:hover,
a.nav-link-sobre:hover {
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  color: var(--yellow);
  transition: 0.3s;
}
a.nav-link-inicio:active,
a.nav-link-exercicios:active,
a.nav-link-sobre:active {
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  color: var(--dark-yellow);
  transition: 0.3s;
}
button.btn.btn-outline path {
  fill: var(--beige);
  transition: 0.3s;
}
button.btn.btn-outline:hover path,
button.btn.btn-outline:focus path {
  transition: 0.3s;
  fill: var(--yellow);
}
button.btn.btn-outline:active path {
  fill: var(--dark-yellow);
  transition: 0.3s;
}

button.btn.btn-outline:active {
  border-color: var(--dark-brown);
}
form.d-flex .form-control {
  background-color: var(--light-yellow);
  border-color: var(--light-yellow);
  color: var(--dark-brown);
}

form.d-flex .form-control::placeholder {
  color: var(--dark-brown);
}

#title-section {
  background-image: url("assets/Paisagem_1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 70%;
  height: 40vh;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-yellow);
}
#title-section-ex {
  background-position: center;
  background-repeat: no-repeat;
  max-height: 300px;
  width: 70%;
  height: 40vh;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-yellow);
}
#title-container {
  max-width: 70%;
}
#title-container,
#title-container-ex {
  background-color: var(--beige);
  opacity: 0.7;
  padding: 5%;
}
#title-container h1,
#title-container-ex h1 {
  font-family: "Baskervville SC", serif;
  font-size: 50px;
  color: var(--dark-brown) !important;
}
#vertical-card-section a {
  text-decoration: none;
  color: var(--dark-brown);
}
#horizontal-card-section {
  margin-top: 2%;
}
#horizontal-card-section a {
  text-decoration: none;
  color: var(--dark-brown);
}

.card {
  margin-bottom: 3%;
  text-decoration: none;
  transition: 0.2s ease;
  background-color: var(--very-light-yellow);
  border: var(--beige) 1px solid !important;
}
.card:hover {
  box-shadow: 1px 2px 10px #aa8335;
  transition: 0.2s ease;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}
.card-img-top {
  max-width: 85%;
  display: block;
  margin: 3% auto;
  border-radius: 3px !important;
}
.card-title {
  font-family: "Baskervville SC", serif;
  font-size: 30px;
  color: var(--dark-brown) !important;
}
.card-subtitle {
  font-family: "Baskervville SC", serif;
  font-size: 22px;
  color: var(--dark-brown);
  margin-bottom: 20%;
}

.card-date-text {
  font-family: "Baskervville SC", serif;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 18px;
  color: var(--dark-brown) !important;
}
hr {
  border-top: var(--dark-yellow) solid 2px !important;
  width: 98%;
  margin: 0 auto;
  opacity: 0.5 !important;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.see-all-button {
  display: block;
  align-items: center;
  border: var(--dark-brown) 1px solid;
  border-radius: 5px;
  padding: 0.5% 1%;
  align-self: flex-end;
  margin: 2% auto;
  margin-bottom: 2%;
  font-size: 20px;
  font-family: "archivo", sans-serif;
  background-color: var(--very-light-yellow);
  border: var(--beige) 1px solid;
  font-family: "baskeville SC", serif;
}

.see-all-button:hover {
  border: var(--yellow) 1px solid;
  transition: 0.3s;
  color: var(--yellow);
  transition: 0.3s;
}
.see-all-button:active {
  color: var(--dark-yellow);
  transition: 0.3s;
}
.arrow-svg {
  width: 20px;
  height: 20px;
  fill: var(--dark-brown) !important;
}
#horizontal-card-section .card-img-left {
  max-width: 250px;
  max-height: 250px;
  margin: auto 3%;
  border-radius: 3px !important;
}

footer {
  background-color: var(--dark-brown);
  color: var(--beige);
  margin-bottom: 0;
  margin-top: auto;
  padding: 3% 1%;
  text-decoration: none;
}

footer .flup-logo {
  max-width: 150px;
  transition: 0.3s ease;
}
footer .flup-logo:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
footer a {
  text-decoration: none;
  color: var(--beige);
  transition: 0.3s;
}
footer a:hover {
  color: var(--yellow);
  transition: 0.3s;
}
footer a:active {
  color: var(--dark-yellow);
  transition: 0.3s;
}
#title-about {
  font-family: "Baskervville SC", serif;
  font-size: 38px;
  color: var(--dark-brown) !important;
  margin-top: 2%;
  margin-left: 2%;
}
.p-about {
  font-family: "archivo", sans-serif;
  font-size: 18px;
  margin-left: 2%;
  margin-top: 1%;
  text-align: justify;
  margin-right: 5%;
}
.link-about {
  color: var(--dark-brown);
  transition: 0.3s ease;
}
.link-about:hover {
  color: var(--yellow);
  transition: 0.3s ease;
}
.link-about:active {
  color: var(--dark-yellow);
  transition: 0.3s ease;
}
#meme-cat {
  max-width: 300px;
  display: block;
  margin: 30px auto;
}
.titulos-propostas {
  font-family: "Baskervville SC", serif;
  font-size: 28px;
  color: var(--dark-brown) !important;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 5%;
}
.texto-exercicios {
  font-family: "archivo", sans-serif;
  font-size: 18px;
  margin-left: 4%;
  margin-top: 1%;
  text-align: justify;
  margin-right: 5%;
}
.data-exercicios {
  font-family: "Baskervville SC", serif;
  font-style: italic;
  font-size: 18px;
  margin-left: 4%;
  margin-top: 1%;
  text-align: justify;
  margin-right: 5%;
}
.hr-exercicios {
  width: 95%;
  margin: 0 auto;
  border: 1px solid var(--dark-yellow);
  margin-bottom: 16px;
}
.photo-gallery-section img {
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photo-gallery-section figure {
  text-align: center;
}
.photo-gallery-section figcaption {
  font-family: "Baskervville SC", serif;
  font-size: 16px;
  color: var(--dark-brown) !important;
  font-style: italic;
}
div#corpo-resposta {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #title-container h1,
  #title-container-ex h1 {
    font-size: 20px;
  }
  #horizontal-card-section .card-img-left {
    display: none;
  }
}
